.design {
  &__title {
    margin-bottom: 30px;
  }

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 19px;
  }

  &__text {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: $c-gray;
  }

  &__link {
    display: block;
    padding-block: 6px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: $c-blue;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 52px;
      height: 1px;
      margin-top: 5px;
      background-color: $c-blue;
    }
  }
}
