.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &--menu {
    background-position-y: center;
    background-image: url(../images/icons/icon-menu.svg);
  }

  &--facebook {
    background-image: url(../images/icons/icon-facebook.svg);
  }

  &--twitter {
    background-image: url(../images/icons/icon-twitter.svg);
  }

  &--instagramm {
    background-image: url(../images/icons/icon-insta.svg);
  }
}
